/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
    color: #FFFFFF;
    padding: 40px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}

/* Hamburger Nav-bar */

.hamburger {
    color: #FFFFFF;
    display: none;
}

/* cards */

figure > img {
	display: block;
	width: 100%;
}

.section {
    padding: 80px 0;
    margin-bottom: 80px;
}

.row > [class^='col'] {
    padding: 10px;
}

.card {
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}

.phone-img {
    width: 250px;
    margin: 0 auto;
}

.icons {
    font-size: 50px;
    color: var(--blue);
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-title-color {
    color: var(--blue);
    margin-bottom: 10px;
}

.card-text-special {
    margin-bottom: 10px;
}

/* section- planning*/

.section-planning {
    background-color: var(--purple);
    padding: 40px;
}

.card-title-planning {
    color: white;
    margin-bottom: 40px;
}

.card-text-planning {
    color: white;
}

.planning-img {
    margin-bottom: 80px;
}

.card-planning {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}


.button-planning {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 18px;
    margin-left: 170px;   
}















/* Responsive */

/* nav-bar */
@media (max-width:770px) {
    .container {
        width: 100%;
    }

    .navbar-list {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width:580px) {
    .container {
        width: 100%;
    }

    .navbar-list {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

/* Cards*/
@media (max-width:770px) {
    .container {
        width: 100%;
    }

    .figure > img {
        display: inline;
    }
    
}

@media (max-width:580px) {
    .container {
        width: 100%;
    }

    .hero .row {
        flex-direction: column;
    }

}

/* section-planning*/
@media (max-width:770px) {
    .container {
        width: 100%;
    }

    .section-planning .row {
        flex-direction: column;
    }
}



