/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
    color: #FFFFFF;
    padding: 40px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

/* debug */

.debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}

/* Hamburger Nav-bar */

.hamburger {
    color: #FFFFFF;
    display: none;
}

/* cards */

figure > img {
	display: block;
	width: 100%;
}

.section {
    padding: 80px 0;
    margin-bottom: 80px;
}

.row > [class^='col'] {
    padding: 10px;
}

.card {
    background-color: var(--light-blue);
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}

.phone-img {
    width: 250px;
    margin: 0 auto;
}

.icons {
    font-size: 50px;
    color: var(--blue);
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-title-color {
    color: var(--blue);
    margin-bottom: 10px;
}

.card-text-special {
    margin-bottom: 10px;
}

/* section- planning*/

.section-planning {
    background-color: var(--purple);
    padding: 40px;
}

.col-card-planning {
    display: flex;
    align-self: flex-end;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-title-planning {
    color: white;
    margin-bottom: 40px;
}

.card-text-planning {
    color: white;
}

.planning-img {
    margin-bottom: 80px;
}

.card-planning {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.planning2-img {
    max-width: 250px;
    text-align: center;
}

.button-planning {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 18px;
    margin-left: 170px;   
}

/* section-testimonials */
.section-testimonials {
    padding: 80px;
}

.text-testimonials {
    text-align: center;
    margin-bottom: 80px;
}

.title-testimonials {
    margin-bottom: 50px;
}

.text-testimonials-special {
    color: var(--purple);
    font-size: 40px;
    margin-bottom: 40px;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.card-testimonials {
    background-color: var(--purple);
    padding: 40px;
    border-radius: 20px;
    height: 100%;
}

.card-image {
    width: 150px;
}

.img-testimonials {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

/* section benefits */

.section-benefits {
    background-color: var(--purple);
    padding: 70px;
}

.title-benefits {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.text-benefits {
   
    margin-bottom: 40px;
}

.card-benefits {
    background-color: white;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.number-benefits {
    font-size: 40px;
    color: var(--purple);
    margin-bottom: 20px;
}

.title-card-benefits {
    font-size: 20px;
    color: var(--purple);
    margin-bottom: 20px;
}


.button-benefits {
    color: white;
    line-height: 40px;
    text-align: center;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 40px;   
}

/* section-about */

.about {
    padding: 40px;
    margin-bottom: 80px;
}

.title-about {
    color: var(--purple);
    font-size: 40px;
    margin-bottom: 40px;
}

.image-about {
    width: 200px;
    margin: 0 auto 20px auto;
}

.text-about {
    color: var(--purple);
    font-size: 20px;
    margin-bottom: 40px;
}

.button-about {
    color: white;
    line-height: 15px;
    text-align: center;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 5px 50px;  
}

.about .col-about {
    padding: 50px;
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
} 

.icon2 {
    font-size: 70px;
    color: var(--purple);
    position: absolute;
    top: -15px;
    right: 12px;
}

.about-figure {
    position: relative;
}

/* section- started */
.started {
    background-color: var(--purple);
    padding: 80px 80px 5px 10px;
}

.title-started {
    color: white;
    margin-bottom: 40px;
}

.title-started2 {
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.title-started3 {
    color: var(--yellow);
    font-size: 80px;
    margin-bottom: 20px;
}

.button-started {
    color: var(--purple);
    line-height: 0;
    text-align: center;
    background-color: white;
    border-radius: 40px;
    padding: 40px 40px;
    margin-bottom: 40px;
}

/* footer */

.container-small-text {
    max-width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: var(--dark-grey);
    font-size: 15px;
    text-align: center;
    padding: 40px;
    color: white;
}

footer p {
    margin-bottom: 40px;
}

footer a {
    color: var(--purple);
    text-decoration: underline;
}







/*********************************
         Responsive 
*********************************/

/* Tablet */
@media (max-width:770px) {
    .container {
        width: 100%;
    }

    .navbar-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .figure > img {
        display: inline;
    }

    .section-planning .row {
        flex-direction: column;
    }

    .about .row {
        flex-wrap: nowrap;
    }

    .section-benefits .col-4 {
        flex-basis: 50%; 
    }
}

/* Mobile */
@media (max-width:580px) {
    .container {
        width: 100%;
    }

    .navbar-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero .row {
        flex-direction: column;
    }

    .img-testimonials {
        width:200px;
    }

    .section-benefits .row {
        flex-direction: column;
    }

    .about .col {
        flex-basis: 0;
    }

    .about .row {
        flex-direction: column;
        width: 50%;
    }

    .section-testimonials .row {
        display: block;
    }

    .started {
        padding: 80px 0px 5px 10px;
    }
}
